

<header>
            <h3>Ludo<span>King</span></h3>
            <div class="links">
                <h3>Main Menu</h3>
                <a href="/">Home</a>
                <a href="/profile">Profile</a>
                <a href="/login">Login</a>
                <a href="/signup">Signup</a>
                <a href="#">Logout</a>
            </div>
            <button class="m-btn">
                <img src="/icons/burger-menu-svgrepo-com.svg" />
            </button>
        </header>
         <script src="/js/menu.js"></script>